<h1>Listing descriptions</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Short Description</th>
    <th>Long Description</th>
  </tr>

<% @descriptions.each do |description| %>
  <tr>
    <td><%=h description.idShort %></td>
    <td><%=h description.descshort %></td>
    <td><%=h description.descLong %></td>
    <td><%= link_to 'Show', description %></td>
    <td><%= link_to 'Edit', edit_description_path(description) %></td>
    <td><%= link_to 'Destroy', description, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New description', new_description_path %>